<p style="color: green"><%= notice %></p>

<h1>Productos</h1>
<br>

<div class="row">
    
     <%= link_to "New product", new_product_path, class:"btn btn-boz  justify-content-start col-2 "%>

    <div class="col-10 d-flex justify-content-end ">

       

            <%= search_form_for @q do |f|%>
                <%= f.label :t_schedule%>
                <%= f.search_field :t_schedule_eq%>
                <%= f.submit "Buscar", class:"btn btn-boz"%>
            <%end%>
    </div>
</div>

    <nav class="navbar text-white justify-content-center lk-boz">
            <%= paginate @products %>
    </nav>


    <table class="table table-striped table-bordered table-hover lk-boz">
            <thead>
                <tr th class="align-middle text-center text-decoration-none"> 
                    <th scope="col"> Producto</th>
                    <th scope="col"> <%= sort_link(@q, :name, "Nombre") %></th>
                    <th scope="col"> Descripcion </th>
                    <th scope="col"> Costo Producto</th>
                    <th scope="col"> Precio Venta Prod </th>
                    <th scope="col"> Stock Cant</th>
                    <th scope="col"> Dias Agend </th>
                    
                </tr>
            </thead>

            <tbody class="text-decoration-none" >
                <% @products.each do |prod| %>
                    <tr>    
                        <td class="align-middle text-center" >
                            <%= image_tag(prod.img_url, size: "60x60") %>    
                        </td>
                        <td class="align-middle text-center">
                            <h6><strong><%= prod.name %><h6>
                        </td>
                        <td class="align-middle ">
                            <%= prod.desciption %>
                        </td>
                        <td class="align-middle text-center">
                            <%= number_to_currency(prod.cost, unit: "$ ", precision: 0, separator: ",", delimiter: ".", format: " %u %n") %>
                        </td>
                        <td class="align-middle text-center">
                            <%= number_to_currency(prod.price, unit: "$ ", precision: 0, separator: ",", delimiter: ".", format: " %u %n") %>
                        </td>
                        
                       <td class="align-middle text-center">
                            <%= prod.stock %>
                        </td>
                        <td class="align-middle text-center">
                            <%= prod.t_schedule %>
                        </td>

                        <td class="align-middle text-center">
                          <%= link_to "Mostrar", prod, class: "lk-boz" %>
                        </td> 
                        <td class="align-middle text-center">
                          <%= link_to "Editar", edit_product_path(prod),class:"lk-boz" %> 
                        </td> 


                        <td class="align-middle">
    
                                <!-- Protección CSRF -->
                                <%= token_tag nil %> 
    
                                <%= button_to "Eliminar", product_path(prod), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" }, :html => { :method => :delete, :remote => true}, onclick: "return confirmDestroy('Seguro que desea eliminar el Producto seleccionado?')"%>

                         </td>

                    </tr>
                    <% end %>
            </tbody>
    </table>

    <nav class="navbar text-white justify-content-center">
            <%= paginate @products %>
    </nav>





<script>
function confirmDestroy(message) {
  if (!confirm(message)) {
    return false;
  }
}
</script>